.aboutUsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutUsContainer h4 {
    margin-bottom: 15px;
}

.aboutUsContainer img {
    width: 25px;
    height: 25px;
}

.profilesContainer {
    display: flex;
    width: 20rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(222, 223, 223);
    padding: 15px;
    border-radius: 15px;
    font-size: 18px;
}

.profiles {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    gap: 10px;
}

.historyContainer {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin: 25px;
    font-size: 18px;
    background-color: rgb(222, 223, 223);
    border-radius: 15px;
}

.historyContainer h2 {
    margin-bottom: 15px;
}

.historyContainer p {
    margin-bottom: 15px;
    padding: 15px;
}

@media screen and (max-width:900px) {

    .historyContainer {
        width: 80%;
    }
}