.HomePageComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
    border-top: solid 2px white;
}

.banner_container {

    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    background-image:
        linear-gradient(to bottom, rgba(255, 254, 254, 0.041), rgb(255, 255, 255)),
        url('https://s1.1zoom.me/big0/432/Iceland_Mountains_Hofn_Austurland_Snow_Beach_584241_1280x720.jpg');
}

.home_title {
    color: white;
    text-shadow: 2px 2px 2px #023347;
    font-size: 30px;
}

.concept_description {
    font-size: 18px;
    color: white;
    text-shadow: 2px 2px 2px #023347;
}

.last_trips {
    width: 100%;
    margin-top: 4rem;
    display: flex;
}

.last_trips p {
    text-align: center;
}

@media screen and (max-width:900px) {

    .HomePageComponent {
        background-size: 160%;
    }

    .concept_description {
        color: #023347;
        text-shadow: none;
        text-align: justify;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 4.5rem;
    }

    .home_title {
        color: white;
        text-shadow: 2px 2px 2px #023347;
        font-size: 25px;
        padding-bottom: 1rem;
    }

}