.HomePageComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
    background-image: url("./src/assets/banner.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    border-top: solid 2px white;

}

.home_title {
    color: white;
    text-shadow: 2px 2px 2px #023347;
}

.concept_description {
    font-size: 18px;
    color: white;
    text-shadow: 2px 2px 2px #023347;
}

.last_trips {
    width: 100%;
    margin-top: 4rem;
    display: flex;
}

.last_trips p {
    text-align: center;
}