.last_trips_container {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    padding-bottom: 3rem;
}

.last_title {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 25px;
    color: #023347;
}


.last_trip_img {
    width: 25rem;
    height: 100%;
    border-radius: 10%;
    background-color: black;
    filter: grayscale(95%);
}

.last_trips_details {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.last_trips_card {
    padding: 0.25rem
}

.details {
    text-align: center;
    padding-bottom: 2rem;
}