.last_trips_container {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    padding-bottom: 3rem;
    padding-top: 4rem;
}

.last_title {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 25px;
    color: #023347;
}

.last_trip_img {
    width: 25rem;
    height: 100%;
    border-radius: 10%;
    background-color: black;
    filter: grayscale(95%);
}

.last_trips_details {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.last_trips_card {
    padding: 0.25rem;
    padding-bottom: 2rem;
}

.details {
    text-align: center;
}

@media screen and (max-width:900px) {

    .last_trip_img {
        width: 80%;
        height: 30vh;
    }

    .last_trips_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0;
    }

    .last_trips_details {
        gap: 5px;
    }

    .last_trips_container {
        padding-bottom: 0;
    }
}